@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  
  font-family: 'Oswald', sans-serif;
    background-color: black;
}
/*Sessão style menu superior*/
#menu{
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 50px;
    z-index: 5;
    position: fixed;
    overflow: hidden;
}
li{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  font-size: 20px;
}
li a{
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color:rgb(139, 138, 138) ;
}

li a:hover{
  border-bottom: rgb(139, 138, 138) solid 3px;
  font-size: 22px;
  transition:all .3s;
}


ul{
  display: flex;  
}
#logo{
  padding-top: -5px;
  padding-left: 550px;
}
#logo-img{
  width: 400px; 
  height: 40px;
}
/*Configurando sessão Home*/

#home{
  justify-content: center;
  padding-top: 20%;
  height: 650px;
  background-color: black;
  color: white;
  
}
.typing-animation{
  animation: BoxColor 500ms infinite normal, typing 10s steps(40) 1s normal both;
}
.line{
  font-size: 20px;
  margin: 0 auto;
  color: white;
  font-family: 'Press Start 2P', cursive;
  border-right: 2px solid rgb(255, 255, 255, 0.75);
  width: 820px;
  white-space: nowrap;
  overflow: hidden;
}
/* Keyframes para animação do Home */

@keyframes BoxColor{
  from{
    border-right-color: rgb(255, 255, 255, 0.75);
  }
  to{ border-right-color: transparent;}
}
@keyframes typing{
  from{
    width: 0 ;
  }
  to{ width:820px }
} 
/* Configurando sessão Skills */
#skill{
  text-align: center;
  height: 500px;
  background-color: white;
}

#skill-box{
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
}
.skill-container{
  margin-left: 15px;
  text-align: center;
  width: 400px;
  height: 240px;
}
.skill-container p{
color: black;
font-size: 20px;
}
.icon-skill{
  margin-right: 5px;
  width: 70px;
  height: 70px;
}
#icon-skill{
  height: 75px;width:200px;
}
h4{
  font-size: 25px;
}

#skill h4{
  color: black;
}

h2,h3{
  font-size: 35px;
}
.svg-cima{
  margin-top:-120px;
}
/* Configurando a sessão projetos */

  #project{
    text-align: center;
    height:1500px;
    background-color: black;
  }
  #project h2,h4,p{
    color: white;
  }
  #project p{
    font-size: 20px;
  }
  .project-container-text{
    height: 600px;
    padding: 0 50px;
    margin-left: 60px;
    margin-top: 30px;
  }

  #project-box{
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
  }
  .project-container{
    display: flex;
    margin: auto;
   
    text-align: center;
    width: 1000px;
    height: 340px;
  }
  .project-img{
    margin-top: 20px;
    border: solid 4px white;
    margin-left: 50px ;
    margin-right: 50px ;
    width: 25rem;
    height: 18rem;
  }
/* Configurando a sessão About */
#about{
  text-align: center;
  height:500px;
  background-color: rgb(39, 39, 39);
}
#about h2,h4,p{
  color: white;
}
#about p{
  font-size: 20px;
}
#about-box{
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
}
.about-container{
  margin-left: 15px;
  text-align: center;
  width: 450px;
  height: 340px;
}

.svg-baixo{
  margin-bottom:-90px;
}

/* Configurando a sessão contatos */
#contatos{
  text-align: center;
  height: 300px;
  background-color: white;
}
#contatos h2{
  padding-top: 25px;
}
#icones_contatos{
  justify-content: space-evenly;
  display: flex;
}
#icones_contatos a {
  color: rgb(39, 39, 39);
	font-size: 80px;
	display: inline-block;
	line-height: 40px;
	width: 100px;
	height: 90px;
	border:solid 4px rgb(39, 39, 39);
  border-radius: 8px;
}
#icones_contatos a:hover{
background-color: rgb(39, 39, 39);
color: white;
transition: .3s;
}

/* Configurando as rodape */
#rodape-text{
  text-align: center;
  background-color: black;
  color: white;
}
section{
  width: 100%;
}
 
/* ----------------------------- Criando responsividade do site: -----------------------------
-----------------------     Otimizando para diferentes resoluções       -----------------------  */
@media screen and (min-width: 3840px) {


/*Sessão style menu superior*/
#menu {
  height: 150px;
}
li{
font-size: 70px;
}
li a:hover{
font-size: 82px;
}

#logo{
position: absolute;
left: 60%;
}
#logo-img{
  width: 800px; 
  height: 150px;
}
/*Configurando sessão Home*/
#home{
  padding-top: 15%;
  height: 1500px;
}
.line{
  font-size: 50px;
}
/* Keyframes para animação do Home */
@keyframes typing{
  from{
    width: 0 ;
  }
  to{ width:2080px }
} 
/* Configurando sessão Skills */
#skill{
  height: 1000px;
}
.skill-container{
  width: 700px;
}
.skill-container p{
font-size: 20px;
}
.icon-skill{
  margin-right: 5px;
  width: 150px;
  height: 150px;
}
#icon-skill{
  width: 270px;
  height: 150px;
}
#skill h4{
  font-size: 80px;
}
h2,h3{
  font-size: 100px;
}
#skill p{
  font-size: 60px;
}
 .svg-cima{
 margin-top: -320px;
 }
/* Configurando a sessão projetos */
#project{
  height:2700px;
}
h4{
font-size:80px;
}
#project p{
  font-size: 60px;
}
.project-container-text{
  height: 1000px;
}
#project-box{
  width: 1000px;
}
.project-container{
  width: 2700px;
  height: 800px;
}
.project-img{
  width: 50rem;
  height: 30rem;
}
/* Configurando a sessão About */
#about{
  height:1200px;
}
#img-personality{
  width: 900px;
  height: 400px;
}
#about p{
  font-size: 50px;
}
.about-container{
  margin-left: 15px;
  width: 800px;
  height: 340px;
}
.svg-baixo{
  margin-bottom:-260px;
}

/* Configurando a sessão contatos */
#contatos{
  height: 700px;
}
#contatos h2{
  padding-top: 100px;
}
#icones_contatos a {
	font-size: 280px;
	width: 300px;
	height: 290px;
  border:solid 10px rgb(39, 39, 39);

}
/* Configurando as rodape */
#rodape-text{
  font-size: 50px;
  height: 35px;
}

}
@media screen and (max-width: 1150px) {
 
 
  /*Sessão style menu superior*/
  #menu {
    height: 100px;
  }
  li a{
  display: none;
  }
  #logo{
    position: absolute;
    top: 68%;
    left: 26%;
    transform: translate(-50%,-50%);
  }
  #logo-img{
    width: 400px; 
    height: 100px;
  } 
  /*Configurando sessão Home*/
#home{
  padding-top: 45%;
  height: 1200px;
}
.line{
  font-size: 25px;
}
/* Keyframes para animação do Home */
@keyframes typing{
  from{
    width: 0 ;
  }
  to{ width: 1025px }
} 
/* Configurando sessão Skills */
#skill{
  height: 2000px;
}
#skill-box{
  display: grid;
  padding-left: 0;
  padding-right: 0;
}

.skill-container{
  width: 700px;
  height: fit-content;
  
  padding-bottom: 30px;
}
.skill-container p{
font-size: 20px;
}
.icon-skill{
  margin-right: 5px;
  width: 150px;
  height: 150px;
}
#icon-skill{
  width: 270px;
  height: 150px;
}
#skill h4{
  font-size: 80px;
}
h2,h3{
  font-size: 100px;
}
#skill p{
  font-size: 60px;
}
/* Configurando a sessão projetos */
#project{
  height:5000px;
}
h4{
font-size:80px;
}
#project p{
  font-size: 60px;
}
.project-container-text{
  height: 1100px;
  margin: auto;
}
#project-box{
  width: 1000px;
}
.project-container{
  width: 2750px;
  height: 800px;
  display: table-cell;
  
}
.project-img{
  width: 50rem;
  height: 30rem;
}
/* Configurando a sessão About */
#about{
  height:2500px;
}
#about-box{
display: table-cell;
margin: auto;
padding-left: 0;
}
#img-personality{
  width: 950px;
  height: 450px;
}
#about p{
  font-size: 70px;
}
.about-container{
  transform: translate(40px, 40px);
  margin-left: 0;
  width: 1000px;
  height: 900px;
}

/* Configurando a sessão contatos */
#contatos{
  height: 700px;
}
#contatos h2{
  padding-top: 100px;
}
#icones_contatos a {
	font-size: 280px;
	width: 300px;
	height: 290px;
  border:solid 10px rgb(39, 39, 39);

}
/* Configurando as rodape */
#rodape-text{
  font-size: 43px;
  height: 40px;
}

}
@media screen and (max-width: 1024px) {
  body{
    width: fit-content;
  }
  /*Configurando sessão Home*/
#home{
  padding-top: 45%;
  height: 1200px;
}
.line{
  font-size: 24px;
}
/* Keyframes para animação do Home */
@keyframes typing{
  from{
    width: 0 ;
  }
  to{ width: 979px }
} 
}
@media screen and (max-width: 960px) {
    /*Configurando sessão Home*/
#home{
  padding-top: 45%;
  height: 1200px;
}
.line{
  font-size: 23px;
}
/* Keyframes para animação do Home */
@keyframes typing{
  from{
    width: 0 ;
  }
  to{ width: 936px }
} 
}

@media screen and (max-width: 500px) {
    /*Configurando sessão Home*/
    #home{
      padding-top: 45%;
      height: 1200px;
    }
    .line{
      font-size: 23px;
    }
    /* Keyframes para animação do Home */
    @keyframes typing{
      from{
        width: 0 ;
      }
      to{ width: 936px }
    } 
}

@media screen and (max-width: 414px) {
  /*Configurando sessão Home*/
  #home{
    padding-top: 45%;
    height: 1200px;
  }
  .line{
    font-size: 23px;
  }
  /* Keyframes para animação do Home */
  @keyframes typing{
    from{
      width: 0 ;
    }
    to{ width: 936px }
  } 
}
